
.search-box{
    width:40%;
}

.search-btn{
    width:20%;
}
.text-justify{
    text-align: justify;
}
@media screen and (max-width: 600px){
    .search-box{
        width:60%;
    }
    .search-btn{
        width:40%;
    }
}